body {background-color: #AEB6BF;
      background-image: url(../imagenes/fondo.jpg);}

header {width: 100vw;
        height: 25vh;
        border-style: inset;
        background-color:#2C3E50;
        display: flex;
        justify-content: center;
        justify-content:space-around;
        align-items: center;
        flex-wrap:nowrap;
        font-family: 'Sansita Swashed', cursive;
        font-size: 30px;
        color: #AEB6BF}

.redes {height:60%;
        width: 15%;
        background-color:#34495E;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5%;}

.imgheader {border-radius: 5%;
            height: 60%}

nav {background-color:#34495E;
    color: #AEB6BF;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 5vw;
    width: 100vw}

a:visited {color: #AEB6BF}
a:link {color: #AEB6BF}
a:active {color: #AEB6BF}
a:hover {font-size: 150%; font-style:oblique;}

main {display: flex;
      justify-content:space-around;
      width: 100vw;
      height: 100vw}

section {display: flex;
        width: 60vw;
        justify-content: center;
        overflow:auto;
        display: block;
        opacity:0.9;
        background-color: #99A3A4;
        height: 100vw;
        box-sizing:border-box;
        padding-left: 2%;
        padding-right: 2%}

#titulo {color:#1A237E;
         font-family: 'Aladin', cursive;
         background-color:#FDFEFE;
        font-size:400%;
        text-align: center;}

.imagen {height: 15%;
        width: 35%;
        border:3;
        border-color: black;
        border-style: solid;}

.subtitulos {color:#E8F8F5;
            text-decoration: underline;
            text-decoration-color: #1A237E;
            text-decoration-style: wavy;
            background-color:#566573;
            font-family: 'Alegreya', serif;
            text-align: center;
            font-size: 180% }

.explicacion {font-family: 'Roboto Slab', serif;
              text-align: center;
              font-size: 130%;}

.mapasection {width: 50%;
              height: 20%;}


aside {display: flex;
       height: 100vw;
       width: 35vw;
       flex-direction: column;
       justify-content:space-between;
       align-items:center;
       opacity:0.9;
       background-color: #99A3A4;
       padding:2%;
       box-sizing: border-box;}

.receta {height: 60%; }


.titreceta {color:#E8F8F5;
           font-family: 'Alegreya', serif;
           text-decoration: underline;
           text-decoration-color: #1A237E;
           background-color:#566573;
           font-size: 350%;
           text-align: center;}

.subtitulos2 {color:#E8F8F5;
             text-decoration-color: #1A237E;
             background-color:#566573;
             font-family: 'Alegreya', serif;
             text-align: center;
             font-size: 180% }


.expreceta {font-family: 'Roboto Slab', serif;
              font-size: 150%}

.imagen2 {width: 75%;
          height: 20%;
          border:3;
          border-color: black;
          border-style: solid;}

.video {display: flex;
        display: block;
        justify-content:center;
        align-content: center;
        align-items: center;
        align-self: center;
        height: 40%;}

.video1 {width: 75%;
         height: 75%}

footer {display: flex;
        width: 100vw;
        height: 20vh;
        border-style: inset;
        background-color:#2C3E50;
        justify-content: center;
        justify-content:space-around;
        align-items: center;
        flex-wrap:nowrap;
        font-family: 'Sansita Swashed', cursive;
        font-size: 15px;
        color: #AEB6BF}

.mapa {width: 15%;
      height: 80%}

.autor {text-align: center;
        flex-direction: column;}


.wsp {width: 100px;
      position: fixed;
      bottom: 20px;
      right: 35px}

.face {width: 50px;
      border-radius: 10px}

.insta {width: 50px;
        border-radius: 10px}

.tw {width: 50px;
    height: 50px;
    border-radius: 10px}

.formulario {display: flex;
            width: 50vw;
            justify-content: center;
            overflow:auto;
            display: block;
            opacity:0.9;
            height: 100%}

.boton {background-color: #273746;
        border-style:outset;
        color:#ABB2B9}
